go 1.25.8
use (
	./auth
	./locations
	./presigner
	./shared/authclient
	./shared/middleware
	./shared/userclient
	./social
	./travel-warning
	./trips
	./users
	./weather-info
	./feed
	./feed-generator
)
