go 1.25.8

use (
	./auth
	./locations
	./presigner
	./shared/authclient
	./shared/middleware
	./shared/userclient
	./shared/tenantdb
	./shared/firebaseclient
	./shared/otel
	./social
	./travel-warning
	./trips
	./users
	./weather-info
	./feed
	./feed-generator
	./newsletter
	./newsletter-worker
)
