
# Project and application settings
APP_NAME="My First Project"
PROJECT_ID="project-32c60644-299b-4b05-8cf"
VERSION=26.2
REGION="europe-west1"
SERVICE="trip-nugget-app"

# Workload Identity Federation settings
DEPLOY_SA_NAME="trip-nugget-app-deploy-sa"
GITHUB_REPO="https://github.com/ShalArl/trip-manager"
WIF_POOL="trip-nugget-app-pool"
WIF_PROVIDER="trip-nugget-app-provider"

# Storage settings
STORAGE_SA_NAME="trip-nugget-app-storage-sa"
BUCKET_NAME="trip-nugget-app-bucket"
BUCKET_LOCATION="europe-west1"

# Database settings
DATABASE_SA_NAME="trip-nugget-app-db-sa"
DATABASE_INSTANCE_NAME="trip-nugget-app-db"
DATABASE_USER="cad_admin"
DATABASE_PASSWORD="cad_password"
DATABASE_NAME="cad_camping_db"
DATABASE_REGION="europe-west1"
DATABASE_TIER="db-f1-micro"
