PROJECT_ID="some project-id"
APP_NAME="app-name"
REGION="some-region"
GITHUB_REPO="some-repo"
DEPLOY_SA_NAME="some-sa"
WIF_POOL="some-pool"
WIF_PROVIDER="some-provider"
DB_USER="some-user"
DB_NAME="some-db"
AR_REPO="some-repo"
GCS_BUCKET="some-bucket"